{% extends 'base.html' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
    <div class="containerr">
        <iframe src="https://www.youtube.com/embed/khWXFNLbPOs" style="margin-top: 5vh;"></iframe>

        <h2>Nuestra Historia</h2>
        <p>Somos una empresa dedicada a cambiar la forma en que las organizaciones se conectan y prosperan. Hemos crecido y evolucionado, enfrentando desafíos y celebrando logros a lo largo del camino. A lo largo de los años, hemos forjado relaciones sólidas y duraderas con clientes satisfechos que confían en nuestra experiencia y compromiso con la excelencia.</p>

        <h2>Nuestro Equipo</h2>
        <p>Creemos que el equipo es el corazón de nuestro éxito. Nuestro equipo está compuesto por un grupo diverso de profesionales calificados y apasionados por lo que hacen. Cada miembro de nuestro equipo aporta su experiencia única para ofrecer soluciones innovadoras a nuestros clientes. Nos enorgullece fomentar un ambiente de trabajo colaborativo donde la creatividad y la dedicación son valoradas.</p>

        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es mucho más que una declaración, es el motor que impulsa cada una de nuestras acciones. Nos esforzamos por brindar servicios de contactos para superar las expectativas de nuestros clientes. Nuestro compromiso es facilitar conexiones significativas que generen un impacto positivo en el crecimiento y el éxito de las empresas que servimos. Cada día, nos levantamos con la determinación de ayudar a nuestros clientes a alcanzar sus objetivos empresariales y crear un futuro empresarial más conectado y próspero.</p>

        <h2>Contacto</h2>
        <p>Puedes contactarnos en <a href="mailto:info@example.com">info@example.com</a></p>
    </div>

{% endblock %}
